
<p>
Commenter:
<%= comment.commenter %>
</p>

<p>
Comment:
<%= comment.body %>
</p>

<p>
<%= link_to 'Delete Comment', [comment.article, comment],
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
</p>