<nav>
<div class="nav-wrapper">
  <a href="#" class="brand-logo header">Torrent</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><%= link_to 'Torrent', controller: 'articles' %></li>
    <li><%= link_to 'Write New', new_article_path %></li>
    <li><%= link_to 'LogOut', logout_path %></li>
    <li><%= link_to 'LogIn', login_path %></li>
    
  </ul>
</div>
</nav>